.billboard {
    height: 652px;
    width: 100%;
    background: url(../img/billboard.jpg) center center / cover no-repeat;
    &__inner {
        padding-top: 219px;
    }
    &__h1 {
        font-family: 'Satellite', sans-serif;
        text-align: center;
        color:  #4d4d4d;
        font-size: 3.125em;
        font-weight: normal;
        letter-spacing: -.4px;
    }
    &__text {
        @extend .billboard__h1;
        font-family: 'opensans_regular', sans-serif;
        font-size: 1em;
        margin: 19px 0 40px;
        letter-spacing: .8px;
    }
    &__link {
        color: #fff;
        font-size: 1.125em;
        display: block;
        border-radius: 50px;
        background: #4d4d4d;
        padding: .8em 0;
        padding-left: 4.19em;
        position: relative;
        width: 16.1em;
        margin: 0 auto;
        text-transform: uppercase;
    }
    &__arrow {
        position: absolute;
        top: 23px;
        right: 78px;
    }
}