@import url(header.css);
@import url(billboard.css);
@import url(services.css);
@import url(video.css);
@import url(work.css);
@import url(subscriber.css);
@import url(social.css);
@import url(footer.css);


html,
body {
    height: 100%;
    font-size: 16px;
}
.body {
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto; 
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
}
.h2,
.h3 {
    font-family: 'opensans_bold', sans-serif;
    color: #4d4d4d;
    font-size: 1.875em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.p {
    font-family: 'opensans_regular', sans-serif;
    color:  #727272;
    font-size: 0.875em;
    text-align: center;
}
.a {
    font-family: 'opensans_regular', sans-serif;
}
.arrow {
    font-family: 'Arrow';
    font-size: 24px;
    line-height: 0;
    font-style: inherit;
    font-weight: 100;
}

@media screen and (max-width: 1300px)  {
    .inner {
        width: 93%;
    }
}

@media screen and (max-width:700px) {
    body {
        font-size: 14px;
    }
}