.social {
    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 450px !important;
        padding: 99px 0 100px;
    }
    &__btn {
        display: block;
        font-family: "Socialico";
        color: #4d4d4d;
        font-size: 1.875em;
        font-weight: 400;
        line-height: 1.933;
        border: 2px solid #4d4d4d;
        box-sizing: border-box;
        background-color:  rgba(237, 237, 237, 0);
        width: 70px;
        height: 70px;
        padding: 4px 0 0 26px;
        &:hover {
            background: #55acee;
            color: #ffffff;
            border-color: #55acee;
        }
    }
}